<div class="register app-pages app-section">
    <div class="container">
        <div class="pages-title">
            <h3>Register</h3>
        </div>
        <form action="signup" method="post">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="confirm" placeholder="confirm" >
            <button class="button">Register</button>
            <strong class="login-now">Your already registered? <a href="login">Login now</a></strong>
        </form>
        <div class="or">
            <h5>OR</h5>
            <button class="button facebook">Register with Facebook</button>
            <button class="button google">Register with Google</button>
        </div>
        <% if (locals.RecMessage) { %>
            <br>
            <div class="well well-lg"><%= RecMessage %></div>
        <% } %>
    </div>
</div>